<div class="container">
  <div class="row justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-6 text-center">
      <div>Log in to Router</div>
      <button class="btn btn-primary mt-3" (click)="loginUser()">SIGN IN</button>
    </div>
  </div>
</div>
