<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">Router</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
      <a class="nav-link" routerLink="/motors" (click)="resetSelection()">Home</a>
    </li>
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
      <a class="nav-link" routerLink="/reports">Reports</a>
    </li>
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
      <a class="nav-link" routerLink="/alerts">Alerts</a>
    </li>
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
      <a class="nav-link" routerLink="/admin">Admin</a>
    </li>
  </ul>
  <button class="btn btn-transparent float-left" (click)="logout()">Log Out</button>
</nav>
