.container {
  width: 200px;
  height: 100%;
  border-right: 1px solid lightgray;
}
.motor {
  height: 30px;
  &.good {
    color: green;
  }
  &.bad {
    color: red;
  }
  &.degraded {
    color: orange;
  }
}
