<div *ngIf="selected?.selectionType!=='motor'">
  <div class="p-3">Table / Graph of motors</div>
  <div class="pl-3"*ngFor="let motor of motorList">{{motor.name}}</div>
</div>
<ng-container  *ngIf="selected?.selectionType==='motor'">
  <div class="p-3" *ngIf="motor" style="height: 100px;">SVG of motor {{motor.name}} takes a while to load</div>
  <nav class="nav nav-tabs">
    <a class="nav-link"
      [routerLink]="'/motors/'+ selected.id + '/details'"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: false}">Details</a>
    <a class="nav-link"
      [routerLink]="'/motors/'+ selected.id + '/status'"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: false}">Components</a>
    <a class="nav-link"
      [routerLink]="'/motors/'+ selected.id + '/data'"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: false}">Plots</a>
  </nav>
</ng-container>
<router-outlet></router-outlet>
